{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_delta_visualizations/partials/course_select

    Displays the dashboard course multi-select and enhances it with Moodle's
    autocomplete interface.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-placeholder - Supplies the autocomplete placeholder text.

    Context variables required for this template:
    * courses - Available courses, each containing id, name, and selected.

    Example context (json):
    {
        "courses": [
            {
                "id": 2,
                "name": "Introduction to Moodle",
                "selected": true
            },
            {
                "id": 5,
                "name": "Advanced Teaching",
                "selected": false
            }
        ]
    }
}}

<form method="get">
  <div class="d-flex align-items-center gap-4">
    <label for="course-select-{{uniqid}}" class="mr-4 fs-4 text-nowrap mb-0">
      Select courses:
    </label>

    <div class="flex-grow-1">
      <select id="course-select-{{uniqid}}" class="form-control" name="courseids[]" multiple="multiple" data-enhance="moodle-autocomplete" data-placeholder="Select One or More Courses">
        {{#courses}}
          <option value="{{id}}" {{#selected}}selected{{/selected}}>
            {{name}}
          </option>
        {{/courses}}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">
      Apply
    </button>
  </div>
</form>

{{#js}}
require(['block_delta_visualizations/course_selector'], function(selector) {
  selector.init('#course-select-{{uniqid}}');
});
{{/js}}
